// tailwind css override antd style fixing
.ant-btn-primary {
    background: var(--primaryColor);
  }
  .ant-switch {
    background: rgba(0, 0, 0, 0.25);
  }
  
  .primary_btn,
  .ant-btn.primary_btn {
    background-color: var(--secondaryColor);
    color: var(--whiteColor);
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    &:hover {
      color: var(--whiteColor) !important;
      background-color: var(--primaryColor);
    }
    &:disabled {
      background-color: var(--secondaryColor200);
    }
    &:disabled {
      &:hover {
        // background-color: #f1eded8a;
        // color: #aa9999ea !important;
        border-color: var(--secondaryColor500);
      }
    }
    @include md {
      padding: 20px 30px;
    }
  }
  .secondary_btn,
  .ant-btn.secondary_btn {
    padding: 20px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    &:disabled {
      &:hover {
        background-color: #f1eded8a;
        color: #aa9999ea !important;
        border-color: var(--secondaryColor500);
      }
    }
    &:hover {
      background-color: var(--secondaryColor500);
      color: var(--whiteColor) !important;
      border-color: var(--secondaryColor500);
    }
    @include md {
      padding: 20px 30px;
    }
  }
  