:root {
    --themeColor: #130e2a; // theme color
    --skinColor: #9f9ba8; // skin color
  
    --primaryColor: #6200ee; // primary color for all components
    --primaryColor50: #efe6fd;
    --primaryColor100: #ceb0fa;
    --primaryColor200: #b78af7;
    --primaryColor300: #9654f4;
    --primaryColor400: #8133f1;
    --primaryColor500: #6200ee;
    --primaryColor600: #5900d9;
    --primaryColor700: #4600a9;
    --primaryColor800: #360083;
    --primaryColor900: #290064;
    //   --primaryColorHover: #6c38f8; // primary hover color for all components
  
    --secondaryColor: #a256f9; // secondary color for all components
    --secondaryColor50: #f6eefe;
    --secondaryColor100: #e2cbfd;
    --secondaryColor200: #d4b1fc;
    --secondaryColor300: #c18efb;
    --secondaryColor400: #b578fa;
    --secondaryColor500: #a256f9;
    --secondaryColor600: #934ee3;
    --secondaryColor700: #733db1;
    --secondaryColor800: #592f89;
    --secondaryColor900: #442469;
  
    --headingPrimaryColor: #1a1d42;
    --headingSecondaryColor: #6200ee;
    --headingSize: 24px;
    --headingSizeMobile: 20px;
  
    --whiteColor: #ffffff;
    --blackColor: #303030;
  
    --textColor: #73748c; // major text color
    --textSecondaryColor: #934ee3; // secondary text color
  
    //   --disabledColor: rgba(0, 0, 0, 0.25); // disable state color
    //   --borderColor: #74688d; // major border color
    //   --borderColorSecondary: #545454; // major border color
  
    // --primaryShadeColor: #20046c;
    //   --primaryShadeColor: #20046c00;
    //    --secondaryShadeColor: #a357fb;
    //   --secondaryShadeColor: #a457fb00;
    //   --shadeOpacity: 0.5;
  }
  