.knowledge-base-landing-wrapper {
  .ant-table-wrapper {
    .ant-table {
      border-radius: 10px !important;
      overflow: hidden !important;
      border: 1px solid #c8cbd0 !important;

      .ant-table-tbody {
        tr {
          td {
            border-right: 1px solid #c8cbd0 !important;
            border-bottom: 1px solid #c8cbd0 !important;
            border-left: none !important;
            border-top: none !important;

            &:nth-child(2) {
              background-color: #f0efef !important;
            }

            &:first-child {
              border-left: none !important;
            }

            &:last-child {
              border-right: none !important;
            }
          }

          &:last-child td {
            border-bottom: none !important;
          }
        }
      }
    }
  }
}
